# Problem Set 2 - Data preparation

_Data Preparation Course at UCU, 2019_

### NB

__1) Which programming languages to use?__

You can use Python, R or both of them (but with one limitation: one dataset - one language).

__2) What libraries/packages to use?__

You are free to choose any appropriate data processing libraries (good choice would be __pandas__, __numpy__ or
__pyspark__ for Python and __dplyr__ or __tidyr__ for R).

__3) How to summarize my homework?__

The best way is to create an individual Jupyter/R notebook with code and explanations for each dataset.
In case you are not familiar with these tools, you can create a Python/R scripts and write explanations
as comments. However, we strongly recommend you to use Jupyter/R notebooks, as those are #1 tools in
applied data analysis nowadays.

### Task 1

### Data integration (Ukrainian Vehicles Data Set)

Load the appropriate libraries.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import csv

__1.1.__ Download the dataset from Ukrainian Open Data Portal [__(dataset)__](https://data.gov.ua/dataset/06779371-308f-42d7-895e-5a39833375f0/resource/01323740-88df-46c2-b06e-fbb58c89fe17).

__1.2.__ Read the data, remove quotes, trailing whitespaces and tabs.

In [2]:
df = pd.read_csv('tz_opendata_z01012018_po01012019.csv', encoding ="utf-8",  sep=';')

In [3]:
df.head(5)

,person,reg_addr_koatuu,oper_code,oper_name,d_reg,dep_code,dep,brand,model,make_year,color,kind,body,purpose,fuel,capacity,own_weight,total_weight,n_reg_new
0,J,6.510000e+09,100,100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГ...,2018-08-02,3246,Центр 3246,ACURA MDX,MDX,2018,БІЛИЙ,ЛЕГКОВИЙ,СЕДАН-В,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,2048.0,2600.0,3500.0,AI7441AP
1,P,6.510137e+09,100,100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГ...,2018-08-01,5141,Центр 5141,KIA SPORTAGE,SPORTAGE,2018,СІРИЙ,АВТОБУС,УНІВЕРСАЛ-B,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1885АА
2,P,6.510137e+09,100,100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГ...,2018-08-02,5141,Центр 5141,AUDI A7,А7,2018,СІРИЙ,ЛЕГКОВИЙ,СЕДАН,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1888АА
3,J,6.510137e+09,100,100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГ...,2018-08-01,3246,Центр 3246,BMW X5,X5,2018,ЧОРНИЙ,ЛЕГКОВИЙ,СЕДАН,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2500.0,3500.0,АІ1847АВ
4,P,1.412337e+09,530,530 - ЗНЯТТЯ З ОБЛIКУ ДЛЯ РЕАЛIЗАЦIЇ,2018-03-06,5946,ТСЦ 5946,VOLKSWAGEN GOLF,GOLF,1991,СИНІЙ,ЛЕГКОВИЙ,ХЕТЧБЕК-В,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1896.0,1060.0,1585.0,19АІ5324

__1.3.__ Find and remove duplicates (if any)

In [4]:
print(df.size , "- wiht duplicates")
df = df.drop_duplicates()
print(df.size, "- after remove duplicates")

29400942 - wiht duplicates
29377914 - after remove duplicates

__1.4.__ Save a dictionary of unique operation codes and its meanings in external file (op_codes.txt). Column
__oper_name__ is redundant and we probably won’t need it in our data analysis, but it could be a good
reference to better understand our data. Drop this column and think about any other redundant columns.
If you find any, explain why you think of them being redundant?

#### Getting unic codes.

In [5]:
# This same step is also aplicable for dep and dep_code columns, dep is not giving info to the dataset, it is just a
# description of the dep_codes column. So i can be droped as well.
oper_codes_names = df[['oper_code','oper_name']]
print(oper_codes_names.size, "- oper")
oper_codes_names = oper_codes_names.drop_duplicates()
print(oper_codes_names.size, "- oper")

dep_codes_names = df[['dep_code','dep']]
print(dep_codes_names.size, "- dep")
dep_codes_names = dep_codes_names.drop_duplicates()
print(dep_codes_names.size, "- dep")


oper_codes_names.head(10)

3092412 - oper
278 - oper
3092412 - dep
350 - dep

    oper_code                                          oper_name
0         100  100 - ПЕРВИННА РЕЄСТРАЦIЯ ТЗ ПРИДБАНОГО В ТОРГ...
4         530               530 - ЗНЯТТЯ З ОБЛIКУ ДЛЯ РЕАЛIЗАЦIЇ
5         255  255 -  АНУЛЮВАННЯ ВИДАЧI ТИМЧАС. РЕЄСТРАЦIЙНОГ...
6         560  560 -  ЗНЯТТЯ З ОБЛІКУ ПРИ ПОВЕРНЕННІ ІЗ ПОЇЗД...
7         430  430 - ПЕРЕРЕЄСТРАЦІЯ ПРИ ЗАМІНІ СВІДОЦТВА ПРО ...
9          49  49 - ВТОРИННА РЕЄСТРАЦІЯ ТЗ ПО ДОГОВОРУ УКЛАДЕ...
10         40  40 - ВТОРИННА РЕЄСТРАЦІЯ ТЗ, ПРИДБАНОГО В ТОРГ...
11        319  319 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВОГО ВЛАСНИКА ЗА ...
13        315  315 - ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ. ВЛАСН. ПО ДОГО...
14        440  440 - ПЕРЕРЕЄСТРАЦIЯ ПРИ ВТРАТІ СВIДОЦТВА ПРО ...

#### Creating oper codes and dep codes dictionaries.

In [6]:
oper_codes_dict = {}
dep_codes_dict = {}
for index, row in oper_codes_names.iterrows():
    oper_codes_dict[row['oper_code']] = row['oper_name']
    
    
#print(codes_dict)
for index, row in dep_codes_names.iterrows():
    dep_codes_dict[row['dep_code']] = row['dep']

#### Saving resulting dictionaries to files

In [7]:
# as requested in comment

f = open("op_codes.txt","w", encoding="utf-8")
f.write( str(oper_codes_dict) )
f.close()

f = open("dep_codes.txt","w", encoding="utf-8")
f.write( str(dep_codes_dict) )
f.close()

#### Droping oper_name and dep columns, as they are just description of the data

In [8]:
df = df.drop(['oper_name'], axis=1)
df = df.drop(['dep'], axis=1)
df.head(4)

,person,reg_addr_koatuu,oper_code,d_reg,dep_code,brand,model,make_year,color,kind,body,purpose,fuel,capacity,own_weight,total_weight,n_reg_new
0,J,6.510000e+09,100,2018-08-02,3246,ACURA MDX,MDX,2018,БІЛИЙ,ЛЕГКОВИЙ,СЕДАН-В,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,2048.0,2600.0,3500.0,AI7441AP
1,P,6.510137e+09,100,2018-08-01,5141,KIA SPORTAGE,SPORTAGE,2018,СІРИЙ,АВТОБУС,УНІВЕРСАЛ-B,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1885АА
2,P,6.510137e+09,100,2018-08-02,5141,AUDI A7,А7,2018,СІРИЙ,ЛЕГКОВИЙ,СЕДАН,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1888АА
3,J,6.510137e+09,100,2018-08-01,3246,BMW X5,X5,2018,ЧОРНИЙ,ЛЕГКОВИЙ,СЕДАН,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2500.0,3500.0,АІ1847АВ

__1.5.__ Translate at least 3 attributes’ values to English (color, kind, etc.).

#### Translating the 'color' column

In [53]:
color_set = df['color'].drop_duplicates()
color_set.size
translated_dict = { 
    "БІЛИЙ":"WHITE",
    "СІРИЙ":"GRAY",
    "ЧОРНИЙ":"BLACK",
    "СИНІЙ":"BLUE",
    "ЗЕЛЕНИЙ":"GREAN",
    "ЖОВТИЙ":"YELLOW",
    "ЧЕРВОНИЙ":"RED",
    "ОРАНЖЕВИЙ":"ORANGE",
    "БЕЖЕВИЙ":"BEIGE",
    "КОРИЧНЕВИЙ":"BROWN",
    "ФІОЛЕТОВИЙ":"PURPLE",
    "НЕВИЗНАЧЕНИЙ":"UNDEFINED"
}
# wanted to use google translate api, but I was blocked with very frequent request.
# df["color"] = df["color"].map(lambda x: translator.translate(x).text)
df['color'] = df['color'].map(translated_dict)
df.head(4)

,person,reg_addr_koatuu,oper_code,d_reg,dep_code,brand,model,make_year,color,kind,body,purpose,fuel,capacity,own_weight,total_weight,n_reg_new
0,J,6.510000e+09,100,2018-08-02,3246,ACURA MDX,MDX,2018,WHITE,ЛЕГКОВИЙ,СЕДАН-В,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,2048.0,2600.0,3500.0,AI7441AP
1,P,6.510137e+09,100,2018-08-01,5141,KIA SPORTAGE,SPORTAGE,2018,GRAY,АВТОБУС,УНІВЕРСАЛ-B,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1885АА
2,P,6.510137e+09,100,2018-08-02,5141,AUDI A7,А7,2018,GRAY,ЛЕГКОВИЙ,СЕДАН,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1888АА
3,J,6.510137e+09,100,2018-08-01,3246,BMW X5,X5,2018,BLACK,ЛЕГКОВИЙ,СЕДАН,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2500.0,3500.0,АІ1847АВ

#### Translating the 'kind' column

In [56]:
kind_set = df['kind'].drop_duplicates()
kind_set.size
translated_dict = { 
    "ЛЕГКОВИЙ":"CAR",
    "АВТОБУС":"BUS",
    "ВАНТАЖНИЙ":"Truck",
    "ПРИЧІП":"TRAILER",
    "МОТОЦИКЛ":"MOTORCYCLE",
    "НАПІВПРИЧІП":"SEMI-TRAILER",
    "МОПЕД":"MOPED",
    "КВАДРОЦИКЛ":"ATV",
    "ТРИЦИКЛ":"TRICYCLE",
    "СПЕЦІАЛІЗОВАНІ":"SPECIALIZED"
}
df['kind'] = df['kind'].map(translated_dict)
df.head(4)

0               ЛЕГКОВИЙ
1                АВТОБУС
8              ВАНТАЖНИЙ
26                ПРИЧІП
80              МОТОЦИКЛ
139          НАПІВПРИЧІП
142                МОПЕД
968           КВАДРОЦИКЛ
3980             ТРИЦИКЛ
398379    СПЕЦІАЛІЗОВАНІ
Name: kind, dtype: object

,person,reg_addr_koatuu,oper_code,d_reg,dep_code,brand,model,make_year,color,kind,body,purpose,fuel,capacity,own_weight,total_weight,n_reg_new
0,J,6.510000e+09,100,2018-08-02,3246,ACURA MDX,MDX,2018,WHITE,CAR,СЕДАН-В,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,2048.0,2600.0,3500.0,AI7441AP
1,P,6.510137e+09,100,2018-08-01,5141,KIA SPORTAGE,SPORTAGE,2018,GRAY,BUS,УНІВЕРСАЛ-B,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1885АА
2,P,6.510137e+09,100,2018-08-02,5141,AUDI A7,А7,2018,GRAY,CAR,СЕДАН,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1888АА
3,J,6.510137e+09,100,2018-08-01,3246,BMW X5,X5,2018,BLACK,CAR,СЕДАН,ЗАГАЛЬНИЙ,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2500.0,3500.0,АІ1847АВ

#### Translating the purpose column

In [61]:
purpose_set = df['purpose'].drop_duplicates()
translated_dict = { 
    "ЗАГАЛЬНИЙ":"GENERAL",
    "СПЕЦІАЛІЗОВАНИЙ":"SPECIALIZED",
    "СПЕЦІАЛЬНИЙ":"SPECIAL"
}
df['purpose'] = df['purpose'].map(translated_dict)
df.head(4)

,person,reg_addr_koatuu,oper_code,d_reg,dep_code,brand,model,make_year,color,kind,body,purpose,fuel,capacity,own_weight,total_weight,n_reg_new
0,J,6.510000e+09,100,2018-08-02,3246,ACURA MDX,MDX,2018,WHITE,CAR,СЕДАН-В,GENERAL,ДИЗЕЛЬНЕ ПАЛИВО,2048.0,2600.0,3500.0,AI7441AP
1,P,6.510137e+09,100,2018-08-01,5141,KIA SPORTAGE,SPORTAGE,2018,GRAY,BUS,УНІВЕРСАЛ-B,GENERAL,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1885АА
2,P,6.510137e+09,100,2018-08-02,5141,AUDI A7,А7,2018,GRAY,CAR,СЕДАН,GENERAL,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2100.0,3500.0,ВТ1888АА
3,J,6.510137e+09,100,2018-08-01,3246,BMW X5,X5,2018,BLACK,CAR,СЕДАН,GENERAL,ДИЗЕЛЬНЕ ПАЛИВО,1685.0,2500.0,3500.0,АІ1847АВ

#### Translating the fuel column

In [64]:
fuel_set = df['fuel'].drop_duplicates()
fuel_set.head(11)
translated_dict = { 
    "ДИЗЕЛЬНЕ ПАЛИВО":"DIESEL",
    "БЕНЗИН":"GASOLINE",
    "БЕНЗИН АБО ГАЗ":"GASOLINE OR GAS",
    "ЕЛЕКТРО АБО БЕНЗИН":"ELECTRIC OR GASOLINE",
    "ДИЗЕЛЬНЕ ПАЛИВО АБО ГАЗ":"DIESEL OR GAS",
    "ЕЛЕКТРО":"ELECTRIC",
    "НЕ ВИЗНАЧЕНО":"UNDEFINED",
    "ГАЗ":"GAS",
    "ЕЛЕКТРО АБО ДИЗЕЛЬНЕ ПАЛИВО":"ELECTRO OR DIESEL",
    "БЕНЗИН, ГАЗ АБО ЕЛЕКТРО":"GASOLINE, GAS OR ELECTRIC"
}
df['fuel'] = df['fuel'].map(translated_dict)
df.head(4)

,person,reg_addr_koatuu,oper_code,d_reg,dep_code,brand,model,make_year,color,kind,body,purpose,fuel,capacity,own_weight,total_weight,n_reg_new
0,J,6.510000e+09,100,2018-08-02,3246,ACURA MDX,MDX,2018,WHITE,CAR,СЕДАН-В,GENERAL,DIESEL,2048.0,2600.0,3500.0,AI7441AP
1,P,6.510137e+09,100,2018-08-01,5141,KIA SPORTAGE,SPORTAGE,2018,GRAY,BUS,УНІВЕРСАЛ-B,GENERAL,DIESEL,1685.0,2100.0,3500.0,ВТ1885АА
2,P,6.510137e+09,100,2018-08-02,5141,AUDI A7,А7,2018,GRAY,CAR,СЕДАН,GENERAL,DIESEL,1685.0,2100.0,3500.0,ВТ1888АА
3,J,6.510137e+09,100,2018-08-01,3246,BMW X5,X5,2018,BLACK,CAR,СЕДАН,GENERAL,DIESEL,1685.0,2500.0,3500.0,АІ1847АВ

__1.6.__ Think about which column names are not clear enough and change them

In [69]:
df.columns = ["person","registration_address_koatuu","oper_code",
              "registration_date", "dep_code", "brand", "model", 
              "made_year", "color", "kind", "body_type", "purpose",
              "fuel_type", "capacity", "own_weight", "total_weight",
              "registration_plates"]

In [70]:
df.head(5)

,person,registration_address_koatuu,oper_code,registration_date,dep_code,brand,model,made_year,color,kind,body_type,purpose,fuel_type,capacity,own_weight,total_weight,registration_plates
0,J,6.510000e+09,100,2018-08-02,3246,ACURA MDX,MDX,2018,WHITE,CAR,СЕДАН-В,GENERAL,DIESEL,2048.0,2600.0,3500.0,AI7441AP
1,P,6.510137e+09,100,2018-08-01,5141,KIA SPORTAGE,SPORTAGE,2018,GRAY,BUS,УНІВЕРСАЛ-B,GENERAL,DIESEL,1685.0,2100.0,3500.0,ВТ1885АА
2,P,6.510137e+09,100,2018-08-02,5141,AUDI A7,А7,2018,GRAY,CAR,СЕДАН,GENERAL,DIESEL,1685.0,2100.0,3500.0,ВТ1888АА
3,J,6.510137e+09,100,2018-08-01,3246,BMW X5,X5,2018,BLACK,CAR,СЕДАН,GENERAL,DIESEL,1685.0,2500.0,3500.0,АІ1847АВ
4,P,1.412337e+09,530,2018-03-06,5946,VOLKSWAGEN GOLF,GOLF,1991,BLUE,CAR,ХЕТЧБЕК-В,GENERAL,DIESEL,1896.0,1060.0,1585.0,19АІ5324

__1.7.__ What is the possible usage of this data? Give 2-3 examples?

__1.8.__ Save the result of your work as a regular .csv file

__1.9.__ What is the most popular car and car color in Ukraine?

### Most popular car color

In [68]:
df['color'].mode()
Most popular car color

0    GRAY
dtype: object

### Most popular car

In [67]:
df['brand'].mode()

0    DAEWOO  LANOS
dtype: object